@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global variables */
:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #ffffff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font-family: var(--sans);
  color: var(--text);
}

/* Dark mode variables */
@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
  }
}

/* Reset styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--sans);
  background-color: var(--bg);
  color: var(--text);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-h);
  font-family: var(--heading);
}

/* Images */
img {
  max-width: 100%;
  display: block;
}

/* Glass Effect Navigation Buttons */

.swiper-button-prev,
.swiper-button-next {
  width: 60px;
  height: 60px;
  border-radius: 20%;

  display: flex;
  align-items: center;
  justify-content: center;

  /* force arrow color */
  color: white !important;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

  transition: all 0.3s ease;
}

/* Fix arrow size + center it */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0px;
  font-weight: 00;
  color: #2f2f2f !important;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Remove arrow background card */
.swiper-button-next,
.swiper-button-prev {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  width: auto;
  height: auto;
}

/* Arrow color */
.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
  font-size: 30px;
}

/* Hide arrows on tablet & mobile */
@media (max-width: 1023px) {

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}